<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head></head>
<body>

<h1 th:text="${title}">Default Title</h1>


<div class="form-group" id="form-indent">
    <form method="post" th:object="${deed}">
        <div class="form-group" width="600px">
            <label th:for="title">Title of Deed: </label>
            <input th:field="*{title}" />
            <span th:errors="*{title}" class="error"></span>
        </div>
        <div class="form-group" width="600px">
            <label th:for="description">Description </label>
            <input type="text" th:field="*{description}"/>
            <span th:errors="*{description}" class="error"></span>
        </div>

        <input type="submit" value="Add Deed" />
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function() {
        $("#form1").hide(300).show(2000);
    });

</script>



</body>
</html>